/* @group Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* @end */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 62.5%;
  /* 2 */
  -webkit-text-size-adjust: 62.5%;
  /* 2 */ }

a:focus,
a:active,
a:hover {
  outline: 0; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 62.5%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 768px) {
    html {
      font-size: 68.75%; } }
  @media (max-width: 600px) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: #4e6975;
  background: #fff;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.6em;
  overflow-x: hidden; }

div.overflow {
  overflow-x: hidden; }

a {
  color: #4e6975;
  text-decoration: none; }
  @media (min-width: 1025px) and (max-width: 3000px) {
    a:hover {
      color: #4e6975; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  color: #253238; }

.h1, .h2, .h3, .h4 {
  line-height: 1.2; }

.h1 {
  font-size: 24px;
  font-size: 2.4rem; }

.h2 {
  font-size: 18px;
  font-size: 1.8rem; }

.h3 {
  font-size: 15px;
  font-size: 1.5rem; }

.h4 {
  font-size: 14px;
  font-size: 1.4rem; }

.h5 {
  font-size: 12px;
  font-size: 1.2rem; }

.h6 {
  font-size: 12px;
  font-size: 1.2rem; }

.italic {
  font-style: italic; }

.bold {
  font-weight: 700; }

.block-margins {
  margin: 1.5em 0; }

.unordered-list {
  list-style-type: disc; }

.ordered-list {
  list-style: decimal; }

.ui__svgs {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block; }
  .ui__svgs:hover svg {
    opacity: 1;
    filter: alpha(opacity=100); }
  .ui__svgs svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0.54;
    filter: alpha(opacity=54); }

.header {
  height: 72px;
  position: fixed;
  top: 0;
  right: 0;
  left: 300px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  background: rgba(255, 255, 255, 0.93);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 9; }
  @media (max-width: 600px) {
    .header {
      position: fixed;
      top: 0;
      right: 0;
      left: 0; } }
  .header .logo {
    width: 180px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -12px;
    margin: auto; }
    .header .logo:before {
      content: url("../images/logo-plain.svg");
      display: block; }
    @media (max-width: 600px) {
      .header .logo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
        .header .logo:before {
          content: url("../images/logo-plain.svg"); } }
  .header .burger {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: -4px;
    padding: 24px;
    cursor: pointer; }
    @media (max-width: 600px) {
      .header .burger {
        display: block; } }
  .header h1.h1 {
    font-size: 24px;
    line-height: 71px;
    padding-left: 24px; }
    @media (max-width: 600px) {
      .header h1.h1 {
        text-align: center;
        padding-left: 0; } }

.navigation {
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0; }
  .navigation .buckets {
    width: 72px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #253238;
    border-right: 1px solid #253238; }
    .navigation .buckets .bucket {
      height: 72px;
      position: relative; }
      @media (min-width: 1025px) and (max-width: 3000px) {
        .navigation .buckets .bucket:hover a {
          background: rgba(255, 255, 255, 0.15); } }
      .navigation .buckets .bucket.is-active a {
        background: rgba(255, 255, 255, 0.15);
        width: 86%;
        height: 86%;
        margin: auto;
        position: relative;
        top: 7%; }
        .navigation .buckets .bucket.is-active a .bucket__name {
          bottom: 3px; }
      .navigation .buckets .bucket.all {
        background: #434B6F; }
      .navigation .buckets .bucket.DESIGN {
        background: #34DBBA; }
      .navigation .buckets .bucket.STRATEGY {
        background: #B87DF4; }
      .navigation .buckets .bucket.TECH {
        background: #FFBC66; }
        .navigation .buckets .bucket.TECH .bucket__name {
          color: #253238; }
    .navigation .buckets .bucket__anchor {
      width: 100%;
      height: 100%;
      display: block;
      color: white;
      -webkit-transition: background 200ms ease-in-out;
      -moz-transition: background 200ms ease-in-out;
      -ms-transition: background 200ms ease-in-out;
      -o-transition: background 200ms ease-in-out;
      transition: background 200ms ease-in-out; }
    .navigation .buckets .bucket__icon {
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      top: -20px;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
    .navigation .buckets .bucket__name {
      position: absolute;
      right: 0;
      bottom: 8px;
      left: 0;
      font-size: 10px;
      font-size: 1rem;
      text-align: center;
      text-transform: uppercase; }
      @media (max-width: 768px) {
        .navigation .buckets .bucket__name {
          font-size: 10px; } }
  .navigation .tags {
    width: 228px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 72px;
    background: #F8FAFB;
    border-right: 1px solid #E7E8EA; }
    .navigation .tags .tag {
      margin: 1px; }
      .navigation .tags .tag.is-active {
        color: black;
        font-weight: 900; }
        .navigation .tags .tag.is-active .tag__name {
          border-bottom: 1px solid #000; }
    .navigation .tags a {
      display: block;
      position: relative;
      font-size: 12px;
      font-size: 1.2rem; }
      .navigation .tags a .tag__icon {
        float: left; }
        .navigation .tags a .tag__icon img {
          width: 40px;
          height: 40px;
          position: absolute;
          top: -2px;
          right: 0;
          bottom: 0;
          left: 8px;
          margin: auto 0; }
      .navigation .tags a .tag__name {
        margin-left: 54px;
        padding: 12px 0;
        border-bottom: 1px solid #E7E8EA; }

@media (max-width: 600px) {
  body.nav-show .tags {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: nav-open 250ms ease-out;
    -moz-animation: nav-open 250ms ease-out;
    -ms-animation: nav-open 250ms ease-out;
    -o-animation: nav-open 250ms ease-out;
    animation: nav-open 250ms ease-out; }
  body.nav-show .buckets {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: tags-open 200ms ease-out;
    -moz-animation: tags-open 200ms ease-out;
    -ms-animation: tags-open 200ms ease-out;
    -o-animation: tags-open 200ms ease-out;
    animation: tags-open 200ms ease-out;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both; }
  body.nav-show .content, body.nav-show header {
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
    -webkit-animation: content-open 300ms ease-out;
    -moz-animation: content-open 300ms ease-out;
    -ms-animation: content-open 300ms ease-out;
    -o-animation: content-open 300ms ease-out;
    animation: content-open 300ms ease-out; }

  body.nav-hide .navigation {
    -webkit-transform: translate3d(-300px, 0, 0);
    -moz-transform: translate3d(-300px, 0, 0);
    -ms-transform: translate3d(-300px, 0, 0);
    -o-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
    -webkit-animation: nav-close 200ms cubic-bezier(0.1, 0.6, 0.3, 1.1);
    -moz-animation: nav-close 200ms cubic-bezier(0.1, 0.6, 0.3, 1.1);
    -ms-animation: nav-close 200ms cubic-bezier(0.1, 0.6, 0.3, 1.1);
    -o-animation: nav-close 200ms cubic-bezier(0.1, 0.6, 0.3, 1.1);
    animation: nav-close 200ms cubic-bezier(0.1, 0.6, 0.3, 1.1); }
  body.nav-hide .content, body.nav-hide header {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: content-close 300ms cubic-bezier(0.1, 0.6, 0.3, 1.1);
    -moz-animation: content-close 300ms cubic-bezier(0.1, 0.6, 0.3, 1.1);
    -ms-animation: content-close 300ms cubic-bezier(0.1, 0.6, 0.3, 1.1);
    -o-animation: content-close 300ms cubic-bezier(0.1, 0.6, 0.3, 1.1);
    animation: content-close 300ms cubic-bezier(0.1, 0.6, 0.3, 1.1); } }
@-webkit-keyframes nav-open {
  0% {
    -webkit-transform: translate3d(-150px, 0, 0);
    -moz-transform: translate3d(-150px, 0, 0);
    -ms-transform: translate3d(-150px, 0, 0);
    -o-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes nav-open {
  0% {
    -webkit-transform: translate3d(-150px, 0, 0);
    -moz-transform: translate3d(-150px, 0, 0);
    -ms-transform: translate3d(-150px, 0, 0);
    -o-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-ms-keyframes nav-open {
  0% {
    -webkit-transform: translate3d(-150px, 0, 0);
    -moz-transform: translate3d(-150px, 0, 0);
    -ms-transform: translate3d(-150px, 0, 0);
    -o-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-o-keyframes nav-open {
  0% {
    -webkit-transform: translate3d(-150px, 0, 0);
    -moz-transform: translate3d(-150px, 0, 0);
    -ms-transform: translate3d(-150px, 0, 0);
    -o-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes nav-open {
  0% {
    -webkit-transform: translate3d(-150px, 0, 0);
    -moz-transform: translate3d(-150px, 0, 0);
    -ms-transform: translate3d(-150px, 0, 0);
    -o-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes tags-open {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes tags-open {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-ms-keyframes tags-open {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-o-keyframes tags-open {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes tags-open {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes nav-close {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-150px, 0, 0);
    -moz-transform: translate3d(-150px, 0, 0);
    -ms-transform: translate3d(-150px, 0, 0);
    -o-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0); } }
@-moz-keyframes nav-close {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-150px, 0, 0);
    -moz-transform: translate3d(-150px, 0, 0);
    -ms-transform: translate3d(-150px, 0, 0);
    -o-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0); } }
@-ms-keyframes nav-close {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-150px, 0, 0);
    -moz-transform: translate3d(-150px, 0, 0);
    -ms-transform: translate3d(-150px, 0, 0);
    -o-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0); } }
@-o-keyframes nav-close {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-150px, 0, 0);
    -moz-transform: translate3d(-150px, 0, 0);
    -ms-transform: translate3d(-150px, 0, 0);
    -o-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0); } }
@keyframes nav-close {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-150px, 0, 0);
    -moz-transform: translate3d(-150px, 0, 0);
    -ms-transform: translate3d(-150px, 0, 0);
    -o-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0); } }
@-webkit-keyframes content-open {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0); } }
@-moz-keyframes content-open {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0); } }
@-ms-keyframes content-open {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0); } }
@-o-keyframes content-open {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0); } }
@keyframes content-open {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0); } }
@-webkit-keyframes content-close {
  0% {
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes content-close {
  0% {
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-ms-keyframes content-close {
  0% {
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-o-keyframes content-close {
  0% {
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes content-close {
  0% {
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.content {
  position: relative;
  padding-top: 72px;
  margin-left: 300px;
  background: white;
  *zoom: 1; }
  .content:before, .content:after {
    content: " ";
    display: table; }
  .content:after {
    clear: both; }
  @media (max-width: 600px) {
    .content {
      margin-left: 0; } }

.deliverable {
  position: relative;
  width: 33.3333333333%;
  float: left;
  padding-bottom: 36%;
  border-right: 1px solid #E7E8EA;
  border-bottom: 1px solid #E7E8EA; }
  .deliverable.hide {
    display: none !important; }
  .deliverable.show {
    display: block !important; }
  @media (min-width: 1025px) and (max-width: 3000px) {
    .deliverable:hover {
      background: #F8FAFB;
      -moz-box-shadow: inset 0 1px 0 #E7E8EA;
      -webkit-box-shadow: inset 0 1px 0 #E7E8EA;
      box-shadow: inset 0 1px 0 #E7E8EA; } }
  @media (max-width: 1300px) {
    .deliverable {
      width: 33.3333333333%;
      float: left;
      padding-bottom: 40%; } }
  @media (max-width: 1240px) {
    .deliverable {
      width: 33.3333333333%;
      float: left;
      padding-bottom: 49%; } }
  @media (max-width: 1124px) {
    .deliverable {
      width: 50%;
      float: left;
      padding-bottom: 49%; } }
  @media (max-width: 1025px) {
    .deliverable {
      width: 50%;
      float: left;
      padding-bottom: 58%; } }
  @media (max-width: 950px) {
    .deliverable {
      width: 100%;
      float: left;
      padding: 0px 24px 12px; } }

.deliverable__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 24px; }
  @media (max-width: 950px) {
    .deliverable__content {
      position: relative;
      padding: 0; }
      .deliverable__content .deliverable__tags {
        position: relative; } }
  .deliverable__content .deliverable__buckets {
    *zoom: 1;
    padding: 24px 0; }
    .deliverable__content .deliverable__buckets:before, .deliverable__content .deliverable__buckets:after {
      content: " ";
      display: table; }
    .deliverable__content .deliverable__buckets:after {
      clear: both; }
    .deliverable__content .deliverable__buckets li {
      float: left;
      display: inline-block;
      position: relative;
      width: 44px;
      height: 44px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-right: 16px; }
      .deliverable__content .deliverable__buckets li:after {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto; }
      .deliverable__content .deliverable__buckets li.deliverable__bucket span {
        display: none; }
      .deliverable__content .deliverable__buckets li.deliverable__bucket.design {
        background: #34DBBA; }
        .deliverable__content .deliverable__buckets li.deliverable__bucket.design:after {
          content: url("../images/buckets/design.svg"); }
      .deliverable__content .deliverable__buckets li.deliverable__bucket.strategy {
        background: #B87DF4; }
        .deliverable__content .deliverable__buckets li.deliverable__bucket.strategy:after {
          content: url("../images/buckets/strategy.svg"); }
      .deliverable__content .deliverable__buckets li.deliverable__bucket.tech {
        background: #FFBC66; }
        .deliverable__content .deliverable__buckets li.deliverable__bucket.tech:after {
          content: url("../images/buckets/tech-dark.svg"); }
  .deliverable__content h2.h2 {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 900;
    padding-bottom: 8px; }
  .deliverable__content .deliverable__date {
    font-size: 10px;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 24px;
    color: #989EAC; }
  .deliverable__content .deliverable__description {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 36px; }
  .deliverable__content h5.h5 {
    float: left;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 1px;
    font-size: 10px;
    font-size: 1rem;
    font-weight: 500; }
  .deliverable__content .deliverable__tags {
    position: absolute;
    bottom: 24px;
    *zoom: 1; }
    .deliverable__content .deliverable__tags:before, .deliverable__content .deliverable__tags:after {
      content: " ";
      display: table; }
    .deliverable__content .deliverable__tags:after {
      clear: both; }
    @media (max-width: 950px) {
      .deliverable__content .deliverable__tags {
        position: relative;
        bottom: 0;
        padding-bottom: 8px; } }
    .deliverable__content .deliverable__tags li {
      float: left;
      display: inline-block;
      margin-right: 8px; }
    .deliverable__content .deliverable__tags .deliverable__tag {
      height: 20px;
      font-size: 10px;
      font-size: 1rem;
      line-height: 20px;
      padding: 0 16px;
      margin-bottom: 8px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      background: #253238;
      color: white; }

.hero {
  width: 100%;
  padding: 36px 24px 50px;
  position: relative;
  overflow: hidden; }
  .hero .background img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    left: -50%;
    margin: -50% auto;
    min-width: 150%;
    min-height: 50%;
    z-index: 0; }
  .hero .background__screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(67, 75, 111, 0.95);
    -webkit-transition: background 300ms ease-in-out;
    -moz-transition: background 300ms ease-in-out;
    -ms-transition: background 300ms ease-in-out;
    -o-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out; }
  .hero .hero__content {
    display: none;
    *zoom: 1;
    position: relative;
    z-index: 1; }
    .hero .hero__content:before, .hero .hero__content:after {
      content: " ";
      display: table; }
    .hero .hero__content:after {
      clear: both; }
  .hero.All .background__screen {
    background: rgba(67, 75, 111, 0.9); }
  .hero.All .hero__all {
    display: block; }
  .hero.Design .background__screen {
    background: rgba(52, 219, 186, 0.9); }
  .hero.Design .hero__design {
    display: block; }
  .hero.Strategy .background__screen {
    background: rgba(184, 125, 244, 0.9); }
  .hero.Strategy .hero__strategy {
    display: block; }
  .hero.Tech .background__screen {
    background: rgba(255, 188, 102, 0.9); }
  .hero.Tech h2.h2, .hero.Tech p, .hero.Tech span {
    color: #253238; }
  .hero.Tech .hero__tech {
    display: block; }
  .hero h2.h2, .hero p, .hero span {
    color: white; }
  .hero h2.h2 {
    font-size: 36px;
    font-size: 3.6rem;
    padding: 12px 0 36px; }
  .hero p {
    padding-right: 30%; }
    @media (max-width: 768px) {
      .hero p {
        padding-right: 0; } }

.hero__details {
  position: relative;
  padding: 5% 0 5% 130px; }
  @media (max-width: 768px) {
    .hero__details {
      padding-left: 0;
      text-align: center; } }
  .hero__details .image {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    margin-top: 6%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    -webkit-animation: drop-down 300ms cubic-bezier(0.1, 0.6, 0.3, 1.15) 350ms;
    -moz-animation: drop-down 300ms cubic-bezier(0.1, 0.6, 0.3, 1.15) 350ms;
    -ms-animation: drop-down 300ms cubic-bezier(0.1, 0.6, 0.3, 1.15) 350ms;
    -o-animation: drop-down 300ms cubic-bezier(0.1, 0.6, 0.3, 1.15) 350ms;
    animation: drop-down 300ms cubic-bezier(0.1, 0.6, 0.3, 1.15) 350ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both; }
    @media (max-width: 768px) {
      .hero__details .image {
        position: relative;
        margin: 24px auto; } }
    .hero__details .image img {
      width: 100px;
      height: 100px; }
  .hero__details .hero__intro,
  .hero__details .hero__title h2.h2,
  .hero__details .hero__description {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .hero__details .hero__intro {
    font-size: 10px;
    font-size: 1rem;
    font-weight: 900;
    -webkit-animation: fly-in 400ms cubic-bezier(0.1, 0.6, 0.3, 1.1) 0ms;
    -moz-animation: fly-in 400ms cubic-bezier(0.1, 0.6, 0.3, 1.1) 0ms;
    -ms-animation: fly-in 400ms cubic-bezier(0.1, 0.6, 0.3, 1.1) 0ms;
    -o-animation: fly-in 400ms cubic-bezier(0.1, 0.6, 0.3, 1.1) 0ms;
    animation: fly-in 400ms cubic-bezier(0.1, 0.6, 0.3, 1.1) 0ms; }
  .hero__details .hero__title h2.h2 {
    padding: 0 0 24px;
    -webkit-animation: fly-in 400ms cubic-bezier(0.1, 0.6, 0.3, 1.1) 100ms;
    -moz-animation: fly-in 400ms cubic-bezier(0.1, 0.6, 0.3, 1.1) 100ms;
    -ms-animation: fly-in 400ms cubic-bezier(0.1, 0.6, 0.3, 1.1) 100ms;
    -o-animation: fly-in 400ms cubic-bezier(0.1, 0.6, 0.3, 1.1) 100ms;
    animation: fly-in 400ms cubic-bezier(0.1, 0.6, 0.3, 1.1) 100ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both; }
  .hero__details .hero__description {
    padding-top: 0;
    -webkit-animation: fly-in 400ms cubic-bezier(0.1, 0.6, 0.3, 1.1) 200ms;
    -moz-animation: fly-in 400ms cubic-bezier(0.1, 0.6, 0.3, 1.1) 200ms;
    -ms-animation: fly-in 400ms cubic-bezier(0.1, 0.6, 0.3, 1.1) 200ms;
    -o-animation: fly-in 400ms cubic-bezier(0.1, 0.6, 0.3, 1.1) 200ms;
    animation: fly-in 400ms cubic-bezier(0.1, 0.6, 0.3, 1.1) 200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both; }

@-webkit-keyframes fly-in {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes fly-in {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-ms-keyframes fly-in {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-o-keyframes fly-in {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fly-in {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes drop-down {
  0% {
    -webkit-transform: translate3d(0, -200%, 0);
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -o-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes drop-down {
  0% {
    -webkit-transform: translate3d(0, -200%, 0);
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -o-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-ms-keyframes drop-down {
  0% {
    -webkit-transform: translate3d(0, -200%, 0);
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -o-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-o-keyframes drop-down {
  0% {
    -webkit-transform: translate3d(0, -200%, 0);
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -o-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes drop-down {
  0% {
    -webkit-transform: translate3d(0, -200%, 0);
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -o-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
