.modal 
    .modal__call-to-action
        h1.h1.modal__call-to-action__title Are you a financial professional?
        button.button No
        button.button--focus Yes
    .modal__legal
        h4.h4 This site was created and intended for use only by financial professionals.
        p MetLife, its agents, and representatives may not give legal, tax or accounting advice and this document should not be construed as such. Clients should confer with their qualified legal, tax and accounting advisors as appropriate.
        p Like most insurance policies, MetLife's policies contain certain exclusions, waiting periods, reductions, limitations and terms for keeping them in force. All policies and riders may not be available in all states. Ask your representative for complete details.
        p Metropolitan Life Insurance Company, New York, NY 10166.