doctype html
html
    //- Meta
    include jade/head/head
    body(onload='loaded()').nav-hide
        //- Meta
        include jade/main
        //- Navigation
        include jade/layout/nav/navigation
        //- Content
        header.header
            img.burger(src='images/more.svg')
            .logo
        .overflow
            .content 
                .hero.All
                    .background
                        img(src='images/backgrounds/apollo.jpg')
                    .background__screen
                    .hero__content.hero__all
                        .hero__title
                            h2.h2 Client Final Deliverable
                        p.hero__description Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.
                    .hero__content.hero__design
                        .hero__details
                            .image
                                img(src='images/avatars/luke.png')
                            p.hero__intro Your Skookum Designer
                            .hero__title
                                h2.h2 Rob Luke
                            p.hero__description Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.
                    .hero__content.hero__strategy
                        .hero__details
                            .image
                                img(src='images/avatars/long.jpg')
                            p.hero__intro Your Skookum Stratagist
                            .hero__title
                                h2.h2 Danielle Long
                            p.hero__description Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.
                    .hero__content.hero__tech
                        .hero__details
                            .image
                                img(src='images/avatars/robinson.jpg')
                            p.hero__intro Your Skookum Developer
                            .hero__title
                                h2.h2 Trey Robinson
                            p.hero__description Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.
                +deliverable(
                    'POC Native App - Beacon Proximity Detections',
                    'The documentation says Beacon, but open to all the other options, start considering options from Scratch',
                    'February 2, 2016',
                    ['design', 'strategy', 'tech'],
                    ['PDF', 'Documentation'],
                    'deliverables/POC.pdf'
                )
                +deliverable(
                    'iOS App Hi Fidelities',
                    'Application flow that includes our unique chat interface with a clean and easy to use standard UI existing in conjunction with it',
                    'February 4, 2016',
                    ['design', 'strategy'],
                    ['PDF', 'Documentation'],
                    'deliverables/iosApp.pdf'
                )
                +deliverable(
                    'iOS App Original Hi Fidelities',
                    'Original Sketch file with multiple pages of wireframes, hi fidelities, icons and assets',
                    'February 4, 2016',
                    ['design'],
                    ['Sketch'],
                    'deliverables/iosAppSketch.sketch'
                )
                +deliverable(
                    'POC Original Hi Fidelities',
                    'Original Sketch file with multiple pages of wireframes, hi fidelities, icons and assets',
                    'January 27, 2016',
                    ['design'],
                    ['Sketch'],
                    'deliverables/pocSketch.sketch'
                )
                +deliverable(
                    'title',
                    'description',
                    'date',
                    [''],
                    [''],
                    '#'
                )
                +deliverable(
                    'title',
                    'description',
                    'date',
                    [''],
                    [''],
                    '#'
                )



        //- Script
        include jade/scripts/script