doctype html
html
  head
    title Client Login
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatable', content='IE=Edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no', media='(device-height: 588px)')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    link(rel='stylesheet', type='text/css', href='css/login.css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,100,900&subset=latin', rel='stylesheet', type='text/css')
  body
    .container
      .col-sm-6.col-sm-offset-3
        h1 Login
        form(action='/', method='post')
          .input-container
            input.username(type='text', name='username', required='true')
            label Email
          .input-container
            input.password(type='password', name='password', required='true')
            label Password
          button(type='submit') Login
        a.logo(href='http://www.skookum.com')
          img(src='images/skookum-logo.png')
