a {
	color: $text;
	text-decoration: none;
	@include breakpoint($hover-zone) {
		&:hover {
			color: $text;
		}
	}
}
h1, h2, h3, h4, h5, h6, p, a, li, span, div {
	&::selection {
	       //color: #fff;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
	color: $header;
}
.h1, .h2, .h3, .h4 {line-height: 1.2;}
.h1 {@include font-size(2.4);}
.h2 {@include font-size(1.8);}
.h3 {@include font-size(1.5);}
.h4 {@include font-size(1.4);}
.h5 {@include font-size(1.2);}
.h6 {@include font-size(1.2);}
.italic {font-style: italic;}
.bold   {font-weight: 700;}
.block-margins {margin: 1.5em 0;}
.unordered-list {list-style-type: disc;}
.ordered-list {list-style: decimal;}
