//- Action States
//- add
//- close
//- navigate

mixin action__button(action)
    .actionButton(class= action)
        .actionButton--line-one
        .actionButton--line-two
        .actionButton--line-three