
.navigation
    nav.buckets
        ul
            li.bucket.all.is-active
                a(href="#").bucket__anchor
                    span.bucket__icon
                        img(src='images/buckets/all.svg')
                    p.bucket__name All
            li.bucket.DESIGN
                a(href="#").bucket__anchor
                    span.bucket__icon
                        img(src='images/buckets/design.svg')
                    p.bucket__name Design
            li.bucket.STRATEGY
                a(href="#").bucket__anchor
                    span.bucket__icon
                        img(src='images/buckets/strategy.svg')
                    p.bucket__name Strategy
            li.bucket.TECH
                a(href="#").bucket__anchor
                    span.bucket__icon
                        img(src='images/buckets/tech-dark.svg')
                    p.bucket__name Tech
    nav.tags
        ul
            li.tag.DESIGN.STRATEGY.TECH
                a(href="#").branding
                    .tag__icon
                        img(src='images/buckets/tag.svg')
                    .tag__name Branding
            li.tag.STRATEGY.TECH
                a(href="#").documentation
                    .tag__icon 
                        img(src='images/buckets/tag.svg')
                    .tag__name Documentation
            li.tag.DESIGN.STRATEGY
                a(href="#").link
                    .tag__icon 
                        img(src='images/buckets/tag.svg')
                    .tag__name Link
            li.tag.TECH.DESIGN.STRATEGY
                a(href="#").pdf
                    .tag__icon 
                        img(src='images/buckets/tag.svg')
                    .tag__name PDF
            li.tag.DESIGN
                a(href="#").sketch
                    .tag__icon 
                        img(src='images/buckets/tag.svg')
                    .tag__name Sketch
            li.tag.DESIGN
                a(href="#").ux
                    .tag__icon 
                        img(src='images/buckets/tag.svg')
                    .tag__name UX
            li.tag.DESIGN.STRATEGY.TECH
                a(href="#").web
                    .tag__icon 
                        img(src='images/buckets/tag.svg')
                    .tag__name Web
            li.tag.STRATEGY
                a(href="#").xls
                    .tag__icon 
                        img(src='images/buckets/tag.svg')
                    .tag__name XLS





