head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatable', content='IE=Edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no', media='(device-height: 588px)')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    title Dashboard
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet', type='text/css', href='../../../css/heavy.css')
    link(rel='stylesheet', type='text/css', href='../../../css/light.css')
    script(type='text/javascript', language='javascript', src='../../../scripts/modernizr.min.js')
    script(type='text/javascript', language='javascript', src='../../../scripts/min/iscroll-min.js')
    script(type='text/javascript', language='javascript', src='../../../scripts/jquery-11.0.min.js')
    script(type='text/javascript')
        | var myScroll;
        | function loaded() {
        |     myScroll = new IScroll('#wrapper', { mouseWheel: true, click: true, scrollbars: true, fadeScrollbars: true });
        | }